.slider{
background: url(файлы/main-backgroung.png)no-repeat 100% 100%;
height: 660px;
display: flex;
align-items: center;
padding: 85px 0;
}
.slider-button>a{
text-decoration: none;
border:  solid #ffe5e5 2px;
padding: 15px 15px;
border-radius: 8px;
font-size: 16px;
}
.slider h1,
.slider p,
.slider a{
color: #ccd0d7;
font-family: 'Open Sans', sans-serif;
margin: 15px 5px;
}
 .slider h1{
font-size: 36px;
}
.slider-button>a:hover{
border:  solid #23b7a4 2px;
background-color: #23b7a4;
}
.slider-button{
margin-top: 40px;
display: flex;
}